body{
    padding: 50px 100px;
   background-color: wheat;
}
h1{
    text-align: center;
}
#container{
    text-align: center;
    background-image: linear-gradient(80deg,rgb(170, 59, 129),rgb(154, 85, 207),rgb(40, 145, 145));
    ;
    padding: 50px;
}
.input-div{
    display: inline-block;
}
.inp{
    padding: 5px 10px;
    margin: 10px;
    font-size: 30px;
    font-weight: lighter;
    width: 400px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    height: 60px;
    

    /* color: crimson; */
}
body::hover{
    background-color: rgb(255, 0, 238);
}
#cel-label{
   
    font-family: 'Raleway', sans-serif;
   /* background-color: aqua;*/
}
#fah-label{
   
    font-family: 'Raleway', sans-serif;
   /* background-color: aqua;*/
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#pic{
    margin: 15px;
    padding: 10px;
    text-align: center;
    margin-top: 70px;
}
#foot{
    font-weight: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}